@font-face {
  font-family: 'iconfont';  /* project id 1189473 */
  src: url('//at.alicdn.com/t/font_1189473_2erxwzfr70j.eot');
  src: url('//at.alicdn.com/t/font_1189473_2erxwzfr70j.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1189473_2erxwzfr70j.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1189473_2erxwzfr70j.woff') format('woff'),
  url('//at.alicdn.com/t/font_1189473_2erxwzfr70j.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1189473_2erxwzfr70j.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

